/** General **/

html {
  font-size: 62.5%;
  box-sizing: border-box;
  
}

body {
  font-family:'Dosis', sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  background-color: white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	font-weight: 400;
}

h1 {
  font-size: 7rem;
}

h2 {
  font-size: 3.6rem;
}

h3 {
  font-size: 3rem;
}

h4 {
  font-size: 2.4rem;
}

h5 {
  font-size: 2rem;
}

h6 {
  font-size: 1.6rem;
}

p {
  margin-bottom: 0.5em;
  font-size: 1.6rem;
  line-height: 3rem;
}

body::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background-color: black;
}

body::-webkit-scrollbar-thumb {
    background: grey;
}

/** PreLoader **/

#preloder {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 999999;
	background: #000;
}

.loader {
	width: 40px;
	height: 40px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -13px;
	margin-left: -13px;
	border-radius: 60px;
	animation: loader 0.8s linear infinite;
}

@keyframes loader {
	0% {
		transform: rotate(0deg);
		border: 4px solid #00296B;
		border-left-color: transparent;
	}
	50% {
		transform: rotate(180deg);
		border: 4px solid #00509D;
		border-left-color: transparent;
	}
	100% {
		transform: rotate(360deg);
		border: 4px solid #FFD500;
		border-left-color: transparent;
	}
}


/** Header **/

.navbar {
  position: absolute;
  background-color: transparent;
  left: 0;
  top: 0;
  padding: 0;
  width: 100%;
  transition: background 0.6s ease-in;
  z-index: 999;
}

.navbar.bg-black {
  background-color: black;
  position: relative;
}

.navbar .navbar-logo {
  max-height: 50px;
  max-width: 100%;
  width: auto;
  height: auto;
}

.navbar .navbar-toggler {
  position: relative;
  height: 50px;
  width: 50px;
  border: none;
  cursor: pointer;
  outline: none;
}

.navbar .navbar-toggler .menu-icon-bar {
  position: absolute;
  left: 15px;
  right: 15px;
  height: 2px;
  background-color: #fff;
  opacity: 0;
  transform: translateY(-1px);
  transition: all 0.3s ease-in;
}

.navbar .navbar-toggler .menu-icon-bar:first-child {
  opacity: 1;
  transform: translateY(-1px) rotate(45deg);
}

.navbar .navbar-toggler .menu-icon-bar:last-child {
  opacity: 1;
  transform: translateY(-1px) rotate(135deg);
}

.navbar .navbar-toggler.collapsed .menu-icon-bar {
  opacity: 1;
}

.navbar .navbar-toggler.collapsed .menu-icon-bar:first-child {
  transform: translateY(-7px) rotate(0);
}

.navbar .navbar-toggler.collapsed .menu-icon-bar:last-child {
  transform: translateY(5px) rotate(0);
}

.navbar-dark .navbar-nav .nav-link {
  position: relative;
  color: #fff;
  font-size: 1.8rem;
}

.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover {
  color: white;
}

.navbar .dropdown-menu {
  padding: 0;
  background-color: rgba(0, 0, 0, .9);
}

.navbar .dropdown-menu .dropdown-item {
  position: relative;
  padding: 10px 20px;
  color: #fff;
  font-size: 1.4rem;
  border-bottom: 1px solid rgba(255, 255, 255, .1);
  transition: color 0.2s ease-in;
}

.navbar .dropdown-menu .dropdown-item:last-child {
  border-bottom: none;
}

.navbar .dropdown-menu .dropdown-item:hover {
  background: transparent;
  color: orange;
}

.navbar .dropdown-menu .dropdown-item::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  top: 0;
  width: 5px;
  background-color: orange;
  opacity: 0;
  transition: opacity 0.2s ease-in;
}

.navbar .dropdown-menu .dropdown-item:hover::before {
  opacity: 1;
}

.navbar.fixed-top {
  position: fixed;
  animation: navbar-animation 0.6s;
  background-color: rgba(0, 0, 0, .9);
}

.navbar.fixed-top.navbar-dark .navbar-nav .nav-link.active {
  color:orange;
}

.navbar.fixed-top.navbar-dark .navbar-nav .nav-link::after {
  background-color: orange;
}

@media screen and (max-width: 767px) {
  .navbar-brand {
    margin-left: 20px;
  }
  .navbar-nav {
    padding: 0 20px;
    background-color: rgba(0, 0, 0, .9);
  }
  .navbar.fixed-top .navbar-nav {
    background: black;
  }
}

@media screen and (min-width: 768px) {
  .navbar-dark .navbar-nav .nav-link {
    padding: 20px 15px;
  }
  .navbar-dark .navbar-nav .nav-link::after {
    content: '';
    position: absolute;
    bottom: 15px;
    left: 20%;
    right: 20%;
    height: 1px;
    background-color: orange;
    transform: scaleX(0);
    transition: transform 0.1s ease-in;
  }
  .navbar-dark .navbar-nav .nav-link:hover::after {
    transform: scaleX(1);
  }
  .dropdown-menu {
    min-width: 200px;
    animation: dropdown-animation 0.3s;
    transform-origin: top;
  }
}

@keyframes navbar-animation {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes dropdown-animation {
  0% {
    transform: scaleY(0);
  }
  75% {
    transform: scaleY(1.1);
  }
  100% {
    transform: scaleY(1);
  }
}

/** MAIN **/

/** Slider & Video **/

#main-slider, #main-video {
  padding: 0;
}

#main-video video {
  height: 100vh;
  left: 0px;
  object-fit: cover;
  position: relative;
  top: 0px;
  width: 100%;
}

/** Info Bar **/

#info_bar {
  background-color: #00509d;
  border-bottom: 1px solid black;
  box-shadow: 0 0 10px 0 black;
  margin-top: -5.6px;
  padding: 10px 0;
  width: 100%;
}

#info_bar > div {
  border-right: 1px solid black;
}

#info_bar > div:last-child {
  border-right: none
}

#info_bar div path{
  color: white;
}

#info_bar .info_txt {
  color: white;
  margin: 0 0 0 30px;
}

#info_bar .info_txt h5 {
  font-weight: 700;
}

#info_bar .info_txt p {
  margin: 0;
}

/** Carousel **/

/** Items Ca **/

.item-carousel {
  padding-bottom: 25px;
}

.item-carousel .row > h5 {
  border-bottom: 1px solid #c1c1c1;
  color: black;
  margin: 0 15px;
  padding: 30px 0 10px 0px;
  text-align: left;
  text-transform: uppercase;
  width: 100%;
}

.item-carousel a {
  color: black;
  text-decoration: none;
}

.item-carousel .card {
  border: none;
  border-radius: 5px;
  margin: 5px 0;
  padding: 0 5px;
}

.item-carousel .card .card-title {
  font-size: 1.6rem;
  text-align: center;
}

.item-carousel .card .card-price {
  color: #3E7CB1;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
}

.item-carousel .card .btn {
  font-size: 1.6rem;
  width: 100%;
}

.item-carousel .card:hover {
  box-shadow: 0 0 20px 0 rgba(0,0,0,.3);
  transform: scale(0.95);
  transition: 0.3s;
}

/** Brand Carousel **/

#brand-carousel {
  padding-bottom: 0px;
}

#brand-carousel .row > h5 {
  border-bottom: 1px solid #c1c1c1;
  color: black;
  margin: 0 15px;
  padding: 30px 0 10px 0px;
  text-align: left;
  text-transform: uppercase;
  width: 100%;
}

#brand-carousel .item-container {
	height: 110px;
  margin: 15px;
}

#brand-carousel .slider-image {
  height:auto;
  max-height: 100%;
  max-width: 100%;
  width: auto;
}

#brand-carousel .slider-image:hover {
  transform: scale(1.2);
  transition: 0.3s;
}




/** Banners **/

/**Hover Banner **/

#banner {
  background-color: #EAEAEA;
  padding: 25px 0;
}

#banner .big,
#banner .small {
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 0 2px 0 rgba(0,0,0,.3);
  padding: 5px;
}

@media screen and (max-width: 767px) {
  #banner .small:first-child {
    margin-top: 30px;
  }
}

#banner .small:last-child {
  margin-top: 30px;
}

#banner .big {
  height: 100%;
}

#banner .big:hover,
#banner .small:hover {
  box-shadow: 0 0 15px 0 rgba(0,0,0,.3);
  transform: scale(1.05);
  transition: 0.3s;
}

#banner .big a,
#banner .small a {
  color: black;
  text-decoration: none;
}

#banner .big p {
  align-items: center;
  display: flex;
  flex: row;
  font-size: 2.5rem;
  font-weight: 500;
  height: calc(600px - 530px);
  justify-content: center;
  margin: 0;
}

#banner .small p {
  font-size: 2rem;
  font-weight: 500;
  margin: 0;
  padding: 5px 0 0 0;
  text-align: center;
}

#banner .img-big,
#banner .img-small {
  width: auto;
  max-width: 100%;
}

/** Banner Service **/

#banner_service {
  display: block;
  position: relative;
  text-align: center;
  width: 100%;
}

#banner_service img {
  height: auto;
  width: 100%;
}

#banner_service h1,
#banner_service h3 {
  color: white;
  font-weight: 700;
  letter-spacing: 5px;
  position: absolute;
  text-shadow: 3px 3px 5px rgb(40, 40, 40);
}

#banner_service h1 {
  top: 20%;
  width: 100%;
}

#banner_service h3 {
  top: 50%;
  padding-top: 10px;
  width: 100%;
}

@media screen and (max-width: 575px) {
  #banner_service h1 {
    font-size: 2rem;
  }

  #banner_service h3 {
    font-size: 1rem;
  }
}

@media screen and (min-width:576px) {
  #banner_service h1 {
    font-size: 4rem;
  }

  #banner_service h3 {
    font-size: 2rem;
  }
}

@media screen and (min-width: 992px) {
  #banner_service h1 {
    font-size: 7rem;
  }

  #banner_service h3 {
    font-size: 3rem;
  }
}



/** Banner Top: Bicicletas, Accesorios e Indumentaria **/

#banner_top {
  position: relative;
  text-align: center;
  width: 100%;
  box-shadow: 0 0 10px 0 black;
}

#banner_top img {
  height: auto;
  width: 100%;
}

#banner_top h1 {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  margin: auto;
  color: white;
  font-weight: 700;
  letter-spacing: 5px;
  text-shadow: 3px 3px 5px rgb(40, 40, 40);
}

@media screen and (max-width: 575px) {
  #banner_top h1 {
    font-size: 3rem;
    height: 3rem;
  }
}

@media screen and (min-width:576px) {
  #banner_top h1 {
    font-size: 5rem;
    height: 5rem;
  }
}

@media screen and (min-width: 768px) {
  #banner_top h1 {
    font-size: 7rem;
    height: 7rem;
  }
}

/** Title & Description: Bicicletas, Accesorios e Indumentaria **/
#description {
  padding: 40px 0;
}

#description h4 {
  width: 100%;
  border-bottom: 1px solid grey;
  margin-bottom: 20px;
  padding-bottom:10px;
  text-align: center;
  font-weight: 600;
}

#description p {
  width: 100%;
  text-align: center;
  margin: 0;
}

/** Galleries **/

#card-gallery {
  padding: 20px 0;
}

.gallery-menu{
	text-align:center;
}

.gallery-menu ul {
  padding: 0;
}

.gallery-menu ul li{
  font-size: 1.6rem;
	display:inline-block;
	margin-top:5px;
	list-style:none;
	padding:10px 15px;
	cursor:pointer;
	transition:all .5s ease;
}

.gallery-item .card{
	border: none;
  border-radius: 5px;
  margin: 5px 0;
  padding: 10px;
}

.gallery-item .card .card-title {
  font-size: 1.6rem;
  text-align: center;
}

.gallery-item .card .card-price {
  color: #3E7CB1;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
}

.gallery-item .card .btn {
  font-size: 1.6rem;
  width: 100%;
}

.gallery-item .card:hover {
  box-shadow: 0 0 20px 0 rgba(0,0,0,.3);
  transform: scale(0.95);
  transition: 0.3s;
}

/** Modals**/
.modal-content {
  box-shadow: 30px 30px 50px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

.modal-content .description {
  padding: 15px;
}

.modal-content h3 {
  font-weight: 600;
  border-bottom: 1px solid black;
  text-align: center;
}

.modal-content h5 {
  font-weight: 600;
  margin: 15px 0;
}

.modal-content p {
  text-align: justify;
}

.modal-content button {
  font-size: 1.6rem;
  width: 150px;
  margin-top: 15px;
}



/** FOOTER **/

#footer {
  background: black;
  color: #fff;
}

#footer .footer-top {
  background: #1b1b1b;
  padding: 30px 0 10px 0;
}

#footer .footer-top h5 {
  font-weight: bold;
  padding-bottom: 12px;
  position: relative;
}

#footer .footer-top h5::after {
  background: #FFD500;
  bottom: 0;
  content: '';
  display: block;
  height: 2px;
  left: 0;
  position: absolute;
  width: 50px;
}

#footer .footer-top .footer-contact {
  margin-bottom: 20px;
}


#footer .footer-top .footer-contact .row {
  margin: 10px 0 0 0;
}

#footer .footer-top .footer-contact p,
#footer .footer-top .footer-contact a {
  font-size: 1.4rem;
  padding-left:10px;
  text-decoration: none;
 }

#footer .footer-top .footer-contact p {
  line-height: 3rem;
  margin-bottom: 0;
}

#footer .footer-top .footer-links {
  margin-bottom: 20px;
}

#footer .footer-top .footer-links ul {
  list-style: none;
  margin: 10px 0 0 0;
  padding: 0;
}

#footer .footer-top .footer-links ul li {
  align-items: center;
  display: flex;
  padding: 10px 0;
}

#footer .footer-top .footer-links ul li:first-child {
  padding-top: 0;
}

#footer .footer-top .footer-links ul li .fa-chevron-right {
  color: white;
}

#footer .footer-top .footer-links ul a {
  color: white;
  display: inline-block;
  line-height: 1;
}

#footer .footer-top .footer-links ul a:hover {
  color: #FFD500;
  text-decoration: none;
  transition: 0.3s;
}

#footer .footer-newsletter {
  font-size: 1.4rem;
}

#footer .footer-newsletter form {
  background: #fff;
  border-radius: 4px;
  margin: 10px 0 30px 0;
  padding: 5px 10px;
  position: relative;
  text-align: left;
}

#footer .footer-newsletter form input[type="email"] {
  border: 0;
  padding: 4px 8px;
  width: calc(100% - 100px);
}

#footer .footer-newsletter form input[type="submit"] {
  background:#FFD500;
  border: 0;
  border-radius: 0 4px 4px 0;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  bottom: 0;
  color: black;
  padding: 0 20px;
  position: absolute;
  right: -1px;
  top: 0;
}

#footer .footer-newsletter form input[type="submit"]:hover {
  background: #FDC500;
  font-weight: 500;
  transition: 0.3s; 
}

#footer .medios-pago {
  max-width: 100%;
  padding-top: 10px;
  width: auto;
}

#footer .credits {
  padding-top: 5px;
  font-size: 1.3rem;
}

#footer .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #2b2b2b;
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 4px;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

#footer .social-links a:hover {
  background: #00509d;
  color: #fff;
  text-decoration: none;
}

/** Whatsapp BUtton **/

#whatsapp-button {
  position: fixed;
  right: 20px;
  bottom: 20px;
  text-align: center;
  width: 50px;
  height: 50px;
  background-color: #25d366;

  border-radius: 30px;
  box-shadow: 0 0 10px 0 black;
  z-index: 999;
}

#whatsapp-button .fa-whatsapp {
 color: white;
 font-size: 40px;
}