/** General **/

html {
  font-size: 62.5%;
  font-family:'Dosis', sans-serif;
  
}

body {
  font-family:'Dosis', sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  background-color: white;
}

h1 {
  margin-bottom: 0.5em;
  font-size: 3.6rem;
}

p {
  margin-bottom: 0.5em;
  font-size: 1.6rem;
  line-height: 1.6;
}

body::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background-color: black;
}

body::-webkit-scrollbar-thumb {
    background: grey;
}

/** Header **/

.navbar {
  position: absolute;
  background-color: transparent;
  left: 0;
  top: 0;
  padding: 0;
  width: 100%;
  transition: background 0.6s ease-in;
  z-index: 999;
}

.navbar .navbar-logo {
  max-height: 50px;
  max-width: 100%;
  width: auto;
  height: auto;
}

.navbar .navbar-toggler {
  position: relative;
  height: 50px;
  width: 50px;
  border: none;
  cursor: pointer;
  outline: none;
}

.navbar .navbar-toggler .menu-icon-bar {
  position: absolute;
  left: 15px;
  right: 15px;
  height: 2px;
  background-color: #fff;
  opacity: 0;
  transform: translateY(-1px);
  transition: all 0.3s ease-in;
}

.navbar .navbar-toggler .menu-icon-bar:first-child {
  opacity: 1;
  transform: translateY(-1px) rotate(45deg);
}
.navbar .navbar-toggler .menu-icon-bar:last-child {
  opacity: 1;
  transform: translateY(-1px) rotate(135deg);
}

.navbar .navbar-toggler.collapsed .menu-icon-bar {
  opacity: 1;
}

.navbar .navbar-toggler.collapsed .menu-icon-bar:first-child {
  transform: translateY(-7px) rotate(0);
}

.navbar .navbar-toggler.collapsed .menu-icon-bar:last-child {
  transform: translateY(5px) rotate(0);
}

.navbar-dark .navbar-nav .nav-link {
  position: relative;
  color: #fff;
  font-size: 1.8rem;
}

.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover {
  color: white;
}

.navbar .dropdown-menu {
  padding: 0;
  background-color: rgba(0, 0, 0, .9);
}
.navbar .dropdown-menu .dropdown-item {
  position: relative;
  padding: 10px 20px;
  color: #fff;
  font-size: 1.4rem;
  border-bottom: 1px solid rgba(255, 255, 255, .1);
  transition: color 0.2s ease-in;
}
.navbar .dropdown-menu .dropdown-item:last-child {
  border-bottom: none;
}
.navbar .dropdown-menu .dropdown-item:hover {
  background: transparent;
  color: orange;
}
.navbar .dropdown-menu .dropdown-item::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  top: 0;
  width: 5px;
  background-color: orange;
  opacity: 0;
  transition: opacity 0.2s ease-in;
}
.navbar .dropdown-menu .dropdown-item:hover::before {
  opacity: 1;
}
.navbar.fixed-top {
  position: fixed;
  animation: navbar-animation 0.6s;
  background-color: rgba(0, 0, 0, .9);
}

.navbar.fixed-top.navbar-dark .navbar-nav .nav-link.active {
  color:orange;
}

.navbar.fixed-top.navbar-dark .navbar-nav .nav-link::after {
  background-color: orange;
}
.content {
  padding: 120px 0;
}
@media screen and (max-width: 768px) {
  .navbar-brand {
    margin-left: 20px;
  }
  .navbar-nav {
    padding: 0 20px;
    background-color: rgba(0, 0, 0, .9);
  }
  .navbar.fixed-top .navbar-nav {
    background: black;
  }
}
@media screen and (min-width: 767px) {
  .banner {
    padding: 0 150px;
  }
  .banner h1 {
    font-size: 5rem;
  }
  .banner p {
    font-size: 2rem;
  }
  .navbar-dark .navbar-nav .nav-link {
    padding: 20px 15px;
  }
  .navbar-dark .navbar-nav .nav-link::after {
    content: '';
    position: absolute;
    bottom: 15px;
    left: 20%;
    right: 20%;
    height: 1px;
    background-color: orange;
    transform: scaleX(0);
    transition: transform 0.1s ease-in;
  }
  .navbar-dark .navbar-nav .nav-link:hover::after {
    transform: scaleX(1);
  }
  .dropdown-menu {
    min-width: 200px;
    animation: dropdown-animation 0.3s;
    transform-origin: top;
  }
}

@keyframes navbar-animation {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes dropdown-animation {
  0% {
    transform: scaleY(0);
  }
  75% {
    transform: scaleY(1.1);
  }
  100% {
    transform: scaleY(1);
  }
}

/** MAIN **/

#main-slider, #main-video {
  padding: 0;
}

#main-video video {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  position: relative;
  left: 0px;
  top: 0px;
}

#info_bar {
  background-color: #00509d;
  border-bottom: 1px solid black;
  box-shadow: 0 0 10px 0 black;
  margin-top: -5.6px;
  padding: 10px 0;
  width: 100%;
}

#info_bar > div {
  border-right: 1px solid black;
}

#info_bar > div:last-child {
  border-right: none
}

#info_bar div path{
    color: white;
}

#info_bar .info_txt {
  margin: 0 0 0 20px;
  font-size: 1.6rem;
  color: white;
}

#info_bar .info_txt h3 {
  font-weight: 700;
  margin: 0;
}

#info_bar .info_txt p {
  margin: 0;
}

#item-gallery {

}

#item-gallery .row {
  
}

#item-gallery .row > h3 {
  padding: 30px 0 10px 0px;
  margin: 0 15px;
  width: 100%;
  color: black;
  text-align: left;
  font-size: 2rem;
  text-transform: uppercase;
  padding: 30px 0 10px 15px;;
  border-bottom: 1px solid #c1c1c1;
}

#item-gallery a {
  color: black;
  text-decoration: none;
}

#item-gallery .card {
  padding: 0 5px;
  margin: 5px 0;
  border: none;
  border-radius: 5px;
}

#item-gallery .card .card-title {
  font-size: 1.6rem;
  text-align: center;
  
}

#item-gallery .card .card-price {
  color: #3E7CB1;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
}

#item-gallery .card .btn {
  font-size: 1.7rem;
  width: 100%;
  background-color: #3E7CB1;
}

#item-gallery .card:hover {
  box-shadow: 0 0 20px 0 rgba(0,0,0,.3);
  transform: scale(0.95);
  transition: 0.2s;
}

#item-gallery .card:hover .btn {
  background-color: white;
  color: #3E7CB1;
}