$font-color: black;
$font-color-header: white;
$font-color-whatsapp: white;
$font-color-navlink: black;
$font-color-navlink-hover: white;
$font-color-dropdownmenu-hover: black;
$font-color-footer: white;
$font-color-footerbotoom: orange;
$font-color-social:white;
$font-color-social-hover: orange;

$bg-color: white;
$bg-color-header: black;
$bg-color-navbar: orange;
$bg-color-dropdownmenu-hover: white;
$bg-color-mainvideo: black;
$bg-color-infobar: orange;
$bg-color-images-categories: #EAEAEA;
$bg-color-footer: black;

$bg-image-color1: orange;
$bg-image-color2: #ffa60050;