.footer--color {
	background-color: $bg-color-footer;
	color: $font-color-footer;
	padding-top: 10px;

	.social-icon {
		padding: 10px;
		color: $font-color-social;
		&:hover {
			color: $font-color-social-hover;
			transition: color 0.3s;
		}
	}

	.footer__div--bottom {
		margin-top: 20px;
		padding:none;
		color: $font-color-footerbotoom;
		border-top: 1px solid orange;

		p {
			margin-bottom: 5px;
		}
	}
}