#main {
	margin: 104px 0 30px 0;
	min-height: calc(100vh - 104px - 190px); 

	.mainvideo {
		background-color: $bg-color-mainvideo;
		margin-top: -104px;
	}	

	.info_bar {
		background-color: $bg-color-infobar;
		padding: 20px 0;
		border-top: 2px solid black;
		border-bottom: 2px solid black;
		max-width: 100%;
		box-shadow: 0 0 15px 0 black;

		.info_img{
			border-right: 1px solid grey;
			padding-right: 10px;
		}

		.info_txt{
			font-size: 1.2rem;
			padding-left: 10px;
		}		
	}

	.productos, 
	.novedades,
	.bicicletas,
	.accesorios,
	.indumentaria {
		width: 100%;
		height: auto;
		margin: 0;
		padding-top: 20px;
		text-align: center;
		border-bottom: none;
	}

	.images-categories {
		background-color: $bg-color-images-categories;
		margin-top: 25px;

		.images-div {
			box-shadow: 0 0 2px 0 rgba(0,0,0,.3);
			background-color: #FFF;
			border-radius: 5px;
			margin: 20px 0;

			&:hover {
				box-shadow: 0 0 10px 0 black;
				transform: scale(1.05);
				transition: 0.3s;
			}

			.big {
				height: 540px;
				width: 540px;
			}

			.small {
				height: 252.5px;
				width: 252.5px;
			}

			h5 {
				text-align: center;
				padding: 10px 0;
			}
		}
	}

	.contacto {
		padding: 20px 0;
	}

	.form-padding {
		padding: 0 30px;

		.mensaje {
			width: 100%;
			height: 170px;
			max-height: 170px;
		}

		.btn-style {
			width: 50%;
			border: 1px solid black;
			margin: 0 auto;
		}
	}
}














