.nav__bar {
    background-color: $bg-color-navbar;
	padding: 5px 0;
	
	.nav__link{
		color: $font-color-navlink;
		font-size: 1.2rem;
		font-weight: 500;
		padding: 0 15px;
		text-transform: uppercase;
		&:hover {
			color: $font-color-navlink-hover;
			text-decoration: none;
			transition: color 0.3s;
		}
	}
		
	.dropdown-menu {
		background-image: linear-gradient($bg-image-color1,$bg-image-color2);
		opacity: 0.9;
		border: none;
		border-bottom: 3px solid black;
		margin-top: 3px;
		width: 100%;

		.dropdown-item:hover{
			background-color: white;
			color: black;
			font-weight: 500;
			font-size: 1.1rem;
			transition: all 0.3s;
			width: 100%;
		}
	}
}

